<div>
    <div class="grid-input">
        <label>Character</label>
        <input placeholder="" [(ngModel)]="weightedCharacter">
    </div>
    <span>
    </span>
    <button (click)="loadGridData(); getGridData()">GENERATE 2D GRID</button>
</div>
@if (gridData) {
<div>
    @for (column of gridData.grid; track column) {
    <mat-grid-list [cols]="gridData.grid.length" rowHeight="2:1" gutterSize="0" class="grid-list">
        @for (row of column; track row) {
        <mat-grid-tile>{{row}}</mat-grid-tile>
        }
    </mat-grid-list>
    }
</div>
<div>
    <span>LIVE</span>
</div>
<div>
    <span>YOUR CODE: {{gridData.code}}</span>
</div>
}